* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  

  --font-color: white;
  --bg-borders: #222930;
  --bg-background: #242B33;
  --inside-lines: rgba(255, 255, 255, 0.05);
  --outside-lines: rgba(255, 255, 255, 0.10);
  --button: #bf282d;
  --bg-input-empty: #d9d9d9dc;
  --bg-input-filled: #D9D9D9;
}

.sr-only{
  Position: Absolute;
  Width: 1px;
  Height: 1px;
  Padding: 0;
  Margin: -1px;
  Overflow: Hidden;
  Clip: rect(0, 0, 0, 0);
  White-space: No-wrap;
  Border-width: 0;
}

html {
  scroll-behavior: smooth;
}

body{
  background-image: url("assets/icons/grid.svg");
  background-color: var(--bg-background);
  color: var(--font-color);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}

.grid{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.grid #iconCube {
  position: absolute;
  right: 20px;
  top: 70px;
  width: 8rem;
  height: auto;
  z-index: 2;
}

.grid #terrain{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
  z-index: -2;
}

.grid #axis {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.grid #Yaxis {
  position: absolute;
  left: 30px;
  width: 1px;
  height: 100%;
  background-color: red;
  transform: translateX(-50%);
}

.grid #Xaxis {
  position: absolute;
  bottom: 30px;
  width: 100%;
  height: 1px;
  background-color: green;
}

#app{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  width: 100%;
  background-color: var(--bg-borders);
}

header .content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 1rem .5rem;
}

nav{
  display: none;
}

ul{
  list-style-type: none;
}

span {
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: var(--font-color);}

main{
  display: flex;
  flex-direction: column;  
  padding: 0 2rem;
  gap: 10rem;
  max-width: 130rem;
}

main .top{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top .title{
  margin: 15rem 0;
  font-family: 'Roboto'sans-serif;
  text-align: center;
}

.title h1{
  font-size: 4.8rem;
  font-weight: bold;
}

.title p{
  font-size: 2.4rem;
  width: 70%;
  margin: 3rem auto;
}

main .middle{
  display: flex;
  flex-direction: column;
}

.theme {
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-background);
  border: 1px solid white;
}

.theme h1{
  margin-top: 1rem;
  text-align: center;
}

.themeContent{
  display: flex;
  flex-direction: column;
}

.themeContent img{
  margin: 1rem auto;
  max-width: 80%;
}

.themeContent p{
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
}

main .contact, .contactsTypes, .fastEmail, .otherContacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact{
  margin-bottom: 10rem;
}
.contact h1{
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: .2rem;
}

.contactsTypes{
  width: 100%;
  gap: 2rem;
}

.fastEmail h2{
  font-size: 2.4rem;
  margin: 2rem auto 0;
}

.fastEmail{
  width: 90%;
}

form{
  width: 100%;
  min-width: 40rem;
  display: flex;
  flex-direction: column;
}

input, textarea{
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 2rem;
  border: none;
  padding: 1rem .5rem;
  border-radius: .2rem;
  background-color: var(--bg-input-empty);
  margin-top: 2rem;
}

input{
  width: 100%;
}

textarea{
  columns: 10; 
  resize: none;
  height: 264px;
  width: 100%;
}

input:valid{
  background-color: var(--bg-input-filled);
}

.fastEmail button{
  margin-top: 3rem;
}

.otherContacts{
  margin: 4rem auto;
}

.otherContacts h2{
  text-align: center;
  width: 20rem;
}

.iconsContact{
  display: flex;
  gap: 2rem;
}

.iconsContact img{
  width: auto;
  height: 8rem;
}

.alternativeContact p{
  display: none;

}

footer{
  background-color: var(--bg-borders);
  width: 100%;
}

footer .fcontent{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2.4rem 0;
  margin: 0 auto;
  gap: 2rem
}

.fcontent p{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  text-align: center;
}


button{
  border: none;
  border-radius: 1rem;
  height: 8rem;
  width: 24rem;
  background-color: var(--button);
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: var(--font-color);
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.4);
}

button:hover{
  cursor: pointer;
  filter: brightness(1.1);
}

button:active{
  box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

/* --------------------Desktop--------------------- */

@media screen and (min-width: 1000px) {
  header{
    width: 100%;

  }

  header .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100rem;
    margin: 0 auto;
    padding: 1rem .5rem;
  }
  
  nav{
    display: flex;
    gap: 5rem;
  }
  
  ul {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }

  li a{ 
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.3rem;
  }

  .middle .theme{
    height: 45rem;

  }

  .themeContent{
    flex-direction: row;
    margin: auto 5rem;
  }

  .themeContent img{

    max-height: 20rem;
    width: auto;
  }

  .themeContent p{
    font-size: 2.4rem;
    text-align: left;

  }

  .contactsTypes{
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    width: 100%;
  }

  #division{
    width: 1px;
    height: 100%;
    background-color: white;
  }

  .otherContacts{
    margin: 0;
    align-self: flex-start;
  }

  .iconsContact{
    margin-top: 5rem;
    flex-direction: column;
    width: auto;

  }

  .alternativeContact p {
    margin-left: 1rem;
    font-size: 2rem;
    display: block;
  }

  .alternativeContact img{
    height: 5rem;
  }

  .alternativeContact {
    display: flex;
    align-items: center;
  }

  .infoInputs{
    display: flex;
    gap: 2rem;
  
  }

  form input{
    display: flex;
  }

  textarea{
    display: block;
  }

  footer .fcontent{
    flex-direction: row;
    justify-content: space-around;
    padding: 2.4rem 0;
  }
 
  
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  height: 90%;
  width: auto;
}

.blockDisplay{
  display: block;
}